{% extends "back/master.html" %}
{% load static %}

{% block headblock %}
    <script src = "{% static "ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block mainblock %}

    <div class="block full">
        <div class="block-title">
            <h2><strong>Add</strong> News</h2>
        </div>
        <div class="table-responsive"></div>
    <form action="{% url "news_add" %}" enctype="multipart/form-data" method="post" class="form-group">
        {% csrf_token %}
        <div class=""form-group>
            <lable>News Title</lable>
            <input type="text" id = "newstitle" name="newstitle" class="form-control" placeholder="Wha is News Title?">
        </div>
        <div class="form-group">
            <label>Category</label>
            <div class="form-group">

                <div class="col-md-12">
                    <select id = "newscat" name="newscat" class="select-chosen" data-placeholder="Choose a Country.." style="width: 250px;">
                       {% for i in cat %}
                        <option value="{{ i.pk }}">{{ i.catname }}|{{ i.name }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>News Summary</label>
            <textarea id = "newssumm" name="newssumm" class="form-control" rows="3"></textarea>
        </div>
         <div class="form-group">
            <label>News Body</label>
            <textarea id = "newsbody" name="newsbody" class="form-control" rows="3"></textarea>

         </div>
    <script>
            CKEDITOR.replace("newsbody")
        </script>
    <script>
            CKEDITOR.replace("newssumm")
        </script>

         <div class=""form-group>

            <input type="file" id = "myfiles" name="myfiles" row="5" class="form-control" placeholder="Body">
        </div>

        <div class="form-group">
            <label>Tags</label>
            <textarea id = "tags" name="tags" class="form-control" rows="3" placeholder="Tags"></textarea>
        </div>

        <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

    </div>




{% endblock %}

{% block footerblock %}
        <script src="{% static "back/js/pages/tablesDatatables.js" %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}